.button {
  width: 100%;
  height: 100%;
  color: white;
  background-color: #222426;
  box-shadow: 0 3px 28px #646b841a;
  border: none;
  cursor: pointer;
  text-align: left;
  padding: 15px;
  font-weight: 400;
  font-size: 17px;
  border-radius: 15px;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.addCartButton {
  text-align: center;
  background-color: #206ee8;
  border: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 700;
}
