.button {
  width: 100%;
  height: 100%;
  color: white;
  background-color: #222426;
  box-shadow: 0 3px 28px #646b841a;
  border: none;
  cursor: pointer;
  text-align: left;
  padding: 15px;
  font-weight: 400;
  font-size: 17px;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}



